

.avatar {
    /* box-sizing: initial;  */
    /* o box-sizing initial, quando eu adiciono borda, margin, padding, outline... 
    faz com que ocupe um espaço a mais, diferente do box-sizing: border-box que exempre os elementos para caber no container*/
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
   
}

.avatarWithBorder {
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}